{
    "$schema": "http://json.schemastore.org/prettierrc",
	"arrowParens": "avoid",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"jsxSingleQuote": false,
	"printWidth": 120,
	"proseWrap": "preserve",
	"quoteProps": "consistent",
	"semi": true,
	"singleAttributePerLine": false,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "none",
	"useTabs": false
}
